
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-position: center;
	background-image: url("bg1.jpg");
	background-size: cover;
}

#my_canvas{
	border-width:10px;
	border-style: dotted;
	background-color:white;

}
